@import 'colors';

.service-provider-container {
    max-width: 1200px;
    margin: 24px auto;
    padding: 16px;

    mat-stepper {
        background-color: transparent;
    }

    .step-actions {
        display: flex;
        justify-content: flex-end;
        gap: 16px;
        margin-top: 24px;
    }

    // .review-section {
    //     padding: 16px;
    //    // background-color: $background-light;
    //     border-radius: 4px;

    //     h3 {
    //         color: $primary-color;
    //         margin-bottom: 8px;
    //     }

    //     pre {
    //         background-color: white;
    //         padding: 8px;
    //         border-radius: 4px;
    //         overflow-x: auto;
    //     }
    // }
}

@media (max-width: 768px) {
    .service-provider-container {
        padding: 8px;
        margin: 16px auto;
    }
}