<div class="service-provider-container">
    <mat-stepper orientation="vertical" [linear]="true" (selectionChange)="onStepChange($event)"
        [selectedIndex]="currentStep">

        <!-- Basic Details Step -->
        <mat-step [completed]="basicDetailsCompleted">
            <ng-template matStepLabel>Basic Details</ng-template>

            <app-basic-details [isEditMode]="isEditMode" (spidCreated)="onBasicDetailsSaved($event)">
            </app-basic-details>
        </mat-step>

        <!-- Contacts Step -->
        <mat-step [completed]="contactsCompleted" [editable]="!!serviceProviderId && basicDetailsCompleted">
            <ng-template matStepLabel>Contacts</ng-template>

            <app-contacts *ngIf="serviceProviderId" [spid]="serviceProviderId" (hasContacts)="onContactsSaved($event)">
            </app-contacts>
        </mat-step>

        <!-- Carnet Sequence Step -->
        <mat-step [editable]="!!serviceProviderId && contactsCompleted" [completed]="carnetSequenceCompleted">
            <ng-template matStepLabel>Carnet Sequence</ng-template>

            <app-carnet-sequence *ngIf="serviceProviderId" [spid]="serviceProviderId"
                (hasCarnetSequence)="onCarnetSequenceSaved($event)"></app-carnet-sequence>
        </mat-step>

        <!-- Fees & Commission Step -->
        <mat-step [editable]="!!serviceProviderId && carnetSequenceCompleted" [completed]="feeCommissionCompleted">
            <ng-template matStepLabel>Carnet Fee & Commission Setup</ng-template>
<!-- 
            <app-carnet-sequence *ngIf="serviceProviderId" [spid]="serviceProviderId"
                (hasCarnetSequence)="onCarnetSequenceSaved($event)"></app-carnet-sequence> -->
        </mat-step>
    </mat-stepper>
</div>