<footer class="footer">
    <div class="footer-content">
        <!-- <div class="social-links">
            <a href="#" class="social-icon" matTooltip="Facebook">
                <mat-icon>facebook</mat-icon>
            </a>
            <a href="#" class="social-icon" matTooltip="Twitter">
                <mat-icon>twitter</mat-icon>
            </a>
            <a href="#" class="social-icon" matTooltip="LinkedIn">
                <mat-icon>linkedin</mat-icon>
            </a>
            <a href="#" class="social-icon" matTooltip="YouTube">
                <mat-icon>youtube</mat-icon>
            </a>
        </div> -->

        <div class="footer-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="copyright">
            &copy; {{ currentYear }} USCIB Carnet Portal. All rights reserved.
        </div>
    </div>
</footer>